<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>radarng.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E1BA2B3E41C79854BC3E0C0E9688638F20D7B8FE</string>
				<key>dateExpires</key>
				<string>7/7/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1BA2B3E41C79854BC3E0C0E9688638F20D7B8FE</string>
						<key>dateExpires</key>
						<string>7/7/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoModulesJSI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FVU6RGL532</string>
						<key>name</key>
						<string>Mitch Ross</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6.26.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1BA2B3E41C79854BC3E0C0E9688638F20D7B8FE</string>
						<key>dateExpires</key>
						<string>7/7/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapLibre.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FVU6RGL532</string>
						<key>name</key>
						<string>Mitch Ross</string>
					</dict>
					<key>versionNumber</key>
					<string>6.26.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1BA2B3E41C79854BC3E0C0E9688638F20D7B8FE</string>
						<key>dateExpires</key>
						<string>7/7/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FVU6RGL532</string>
						<key>name</key>
						<string>Mitch Ross</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1BA2B3E41C79854BC3E0C0E9688638F20D7B8FE</string>
						<key>dateExpires</key>
						<string>7/7/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FVU6RGL532</string>
						<key>name</key>
						<string>Mitch Ross</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1BA2B3E41C79854BC3E0C0E9688638F20D7B8FE</string>
						<key>dateExpires</key>
						<string>7/7/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FVU6RGL532</string>
						<key>name</key>
						<string>Mitch Ross</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
						<string>arm64_32</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E1BA2B3E41C79854BC3E0C0E9688638F20D7B8FE</string>
						<key>dateExpires</key>
						<string>7/7/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>FVU6RGL532.com.vanillax.radar-ng.watch</string>
						<key>com.apple.developer.team-identifier</key>
						<string>FVU6RGL532</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>radar-ngWatch.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>9ff8faff-1829-4147-a987-e6c60fa13aba</string>
						<key>dateExpires</key>
						<string>7/7/27</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.vanillax.radar-ng.watch</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FVU6RGL532</string>
						<key>name</key>
						<string>Mitch Ross</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FVU6RGL532.com.vanillax.radar-ng</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FVU6RGL532</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>radarng.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>83026e96-f0b9-43cf-a1b5-4e76f4f6e56e</string>
				<key>dateExpires</key>
				<string>7/7/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.vanillax.radar-ng</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FVU6RGL532</string>
				<key>name</key>
				<string>Mitch Ross</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
